In [3]:
import numpy as np
import pandas as pd

In [4]:
from numpy.random import randn

In [5]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [6]:
df[df>0]

          W         X         Y         Z
A       NaN  0.083352  1.092451  0.100404
B       NaN       NaN       NaN       NaN
C  2.213463  0.527969       NaN  1.137022
D  1.340643  1.256138  1.554653  0.604560
E  0.084049       NaN  0.084130       NaN

In [13]:
df[df['X']>0][['Y','Z']]

          Y         Z
A  1.092451  0.100404
C -0.426043  1.137022
D  1.554653  0.604560

In [14]:
df[df['W']>0][['Y','Z']]

          Y         Z
C -0.426043  1.137022
D  1.554653  0.604560
E  0.084130 -0.159071

In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\jayad'